.container-mobile {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  border-radius: 10px;

  @media (min-width: 681px) {
    display: none;
  }
}

.container-mobile-header {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 1.4rem 2rem;
  background-color: var(--blue-primary);
  border-radius: 0.8rem 0.8rem 0 0;
}

.container-mobile-header h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white);
}

.dot-white {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--white);
  margin-left: auto;
}

.employee-item {
  border: 1px solid var(--gray-10);
  overflow: hidden;
  background-color: var(--white);
}

.employee-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
}

.employee-photo {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  object-fit: cover;
}

.employee-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
  flex: 1;
  margin-left: 1rem;
}

.icon {
  color: var(--blue-primary);
  transition: transform 0.3s ease;
}

.employee-item.expanded .icon {
  transform: rotate(180deg);
}

.employee-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1rem;
  background-color: var(--gray-5);
  color: var(--black);
  font-size: 1.6rem;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.employee-item.expanded .employee-details {
  max-height: 30rem;
  opacity: 1;
}

.employee-details p {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-size: 1.6rem;
  border-bottom: 1px dashed var(--gray-10);
}

.employee-details strong {
  font-size: 1.6rem;
}
