.search-section {
  width: 100%;
  max-width: 1440px;
  margin: 3.2rem auto;
}

.search-section__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.2rem 2rem;

  @media (max-width: 680px) {
    flex-direction: column;
    align-items: start;
    gap: 2.4rem;
  }
}

.search-section__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: var(--black);
}

.search-section__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;

  @media (max-width: 680px) {
    max-width: 100%;
  }
}

.search-section__input {
  width: 100%;
  padding: 1.4rem 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--gray-10);
  font-size: 16px;
  color: var(--gray-20);
  outline: none;
}

.search-section__input-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  color: var(--gray-10);
}

.table-wrapper {
  overflow: hidden;
  margin: 0 2rem;

  @media (max-width: 680px) {
    display: none;
  }
}

.employee-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  table-layout: fixed;
}

.employee-table th,
.employee-table td {
  text-align: left;
  font-size: 1.6rem;
}

.employee-table th {
  font-weight: 500;
  background-color: var(--blue-primary);
  color: var(--blue-10);
  padding: 1.4rem 4rem;
}

.employee-table td {
  padding: 0.9rem 4rem;
  background-color: var(--white);
  color: var(--black);
  border-bottom: 2px solid var(--gray-00);
}

.employee-table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

.employee-table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

.employee-table__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container-mobile {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  border-radius: 10px;

  @media (min-width: 681px) {
    display: none;
  }
}

.container-mobile-header {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 1.4rem 2rem;
  background-color: var(--blue-primary);
  border-radius: 0.8rem 0.8rem 0 0;
}

.container-mobile-header h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white);
}

.dot-white {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--white);
  margin-left: auto;
}

.employee-item {
  border: 1px solid var(--gray-10);
  overflow: hidden;
  background-color: var(--white);
}

.employee-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
}

.employee-photo {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  object-fit: cover;
}

.employee-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
  flex: 1;
  margin-left: 1rem;
}

.icon {
  color: var(--blue-primary);
  transition: transform 0.3s ease;
}

.employee-item.expanded .icon {
  transform: rotate(180deg);
}

.employee-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1rem;
  background-color: var(--gray-5);
  color: var(--black);
  font-size: 1.6rem;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.employee-item.expanded .employee-details {
  max-height: 30rem;
  opacity: 1;
}

.employee-details p {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-size: 1.6rem;
  border-bottom: 1px dashed var(--gray-10);
}

.employee-details strong {
  font-size: 1.6rem;
}
